.header {
  margin-top: 48px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  max-width: 880px;
}

.header__logo {
  margin-bottom: 30px;
  height: 33px;
  width: 173px;
}

@media screen and (max-width: 598px) {
  .header {
    margin-top: 0px;
  }

  .header__logo {
    max-width: 126px;
    height: 24px;
    width: 100%;
    margin: 28px 0 32px 27px;
  }
}
